body {
    background-color: #fff;
    font-family: 'Roboto', Arial, sans-serif;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-navs ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-navs {
    display: flex;
    justify-content: space-between;
}

.header-navs a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #373737;
}

.apply-button {
    display: inline-block;
    border: 2px solid #717CFF;
    border-radius: 11px;
    padding: 13px 33px 0px 33px;
}

/* boshlandi */
.hero-site {
    display: flex;
    justify-content: space-between;
}

.hero-site-title {
    width: 542px;
    height: 154px;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: #2F2F2F;
    text-transform: capitalize;
    display: inline-block;
}

.to {
    text-transform: lowercase;
}

.build {
    color: #717CFF;
}

.hero-site-text {
    width: 632px;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
    display: inline-block;
}

.hero-site__link-span {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    
}
.hero-site__link-span {  
    display: inline-block;
    background: #717CFF;
    border-radius: 11px;
    padding: 10px 35px 10px 34px;
}
.site-hero__link-vector {
    padding-left: 34px;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: start;
}