body {
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', Arial, sans-serif;
}

ul,a,h1,h2,
h3,h4,h5,h6,
p,ul,ol {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    max-width: 1216px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}

.header-navs ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-navs {
    margin-left: 175px;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: rgba(55, 55, 55, 1);
    transition: color 0.3s ease;
    margin-right: 72px;
}

.header-navs li:first-child {
    margin-left: 0;
}

.navigation a:hover {
    color: goldenrod;
}

.header-navs a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #373737;
}

.apply-button {
    margin-top: 3px;
    display: inline-block;
    border: 2px solid #717CFF;
    border-radius: 11px;
    padding: 9px 33px 0px 33px;
    transition: color 0.3s ease,
    border 0.3s ease;
    width: 111px;
    height: 42px;
    display: inline-block;
}

.apply-button:hover {
    border: 2px solid #000;
    color: #717CFF;
}

/* boshlandi */
.hero-site {
    display: flex;
    justify-content: space-between;
}

.hero-site__left-side {
    padding-top: 140px;
    padding-bottom: 59px;
}

.hero-site-title {
    width: 542px;
    height: 154px;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: #2F2F2F;
    text-transform: capitalize;
    display: inline-block;
    margin: 0;
}

.to {
    text-transform: lowercase;
}

.build {
    color: #717CFF;
}

.hero-site-text {
    width: 632px;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
    display: inline-block;
}

.hero-site__link-span {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    display: inline-block;
    background-color: #717CFF;
    border-radius: 11px;
    padding: 10px 35px 10px 34px;
    border: 1px solid transparent;
    transition: color 0.3s ease,
    background-color 0.3s ease;
    margin-top: 42px;
}

.hero-site__link-span:hover {  
    color: #717CFF;
    background-color: #fff;
    border: 1px solid #717CFF;
}

.site-hero__link-vector {
    padding-left: 34px;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 105px;
}

.social-icons li {
    margin-left: 20px;
}

.hero-site__right-side {
    margin-top: 127px;
}

.student-img {
    object-fit: contain;
}

/* univer side */

.featured-universities {
    padding-top: 55px;
    height: 423px;
    background-color: #FAFAFA;
    margin-top: -4px;
}
.featured-unv__title {
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
    mix-blend-mode: normal;
    opacity: 0.73;
}

.featured-unv__logo {
    margin-top: 86px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.featured-unv__img {
    object-fit: contain;
}

.btns {
    margin-top: 107px;
    display: flex;
    justify-content: center;
}

.link-button {
    display: inline-block;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(124, 124, 124, 0.318837);
    padding: 0;
    margin-left: 21px;
}

.first {
    margin-left: 0;
}

.link-button:active {
    border-radius: 50%;
    border: none;
    width: 14px;
    height: 14px;
    background: #717CFF;
}

.link-button:focus {
    outline: none;
    border-radius: 50%;
    border: none;
    width: 10px;
    height: 10px;
    background: #717CFF;
}
.link-button:hover {
    outline: none;
    border: none;
    border: 1px solid blue;
}

/* cards */

.our-services {
    padding-top: 122px;
    padding-bottom: 126px;
}

.our-services__title {
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
    text-transform: capitalize;
}

.our-services__text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    width: 946px;
    height: 80px;
    margin: 0 auto;
    margin-top: 25px;
}

.our-services__cards {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.our-services__card {
    margin-top: 110px;
    padding: 29px 31px 34px 31px;
    width: 344px;
    height: 351px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;  
}

.cards-down__side {
    display: flex;
    justify-content: center;
}

.card-down {
    margin-top: 50px;
    margin-left: 47px; 
}

.our-services__card-title {
    margin-top: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
    width: 279px;
    height: 37px;
    text-transform: capitalize;
}

.our-services__card-text {
    margin-top: 9px;
    width: 296px;
    height: 90px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
}

.card-link {
    display: flex;
    margin-top: 26px;
    align-items: center;
    transition: all ease 0.3s;
    text-transform: capitalize;
}

.vector-link {
    transition: all ease 0.3s;
}

.card-link:hover {
    opacity: 0.9;
}

.card-link:active {
    opacity: 0.7;
}

.card-vector {
    transition: all ease 0.3s;
}

.card-vector:hover {
    transform: translateX(5px);
    transition: all ease 0.3s;
    opacity: 0.9;
}

.card-vector:active {
    transform: translateX(13px);
    transition: all ease 0.3s;
    opacity: 0.7;
}

.our-services__card-link {
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
}



/* our services tugadi */

.site-news {
    background-color: #FAFAFA;
    padding-top: 102px;
    padding-bottom: 104px;
}

.news-cards {
    display: flex;
    justify-content: space-between;
    background: #FAFAFA;
    margin-top: 119px;
}

.news-card {
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
    width: 344px;
    height: 406px;
}

.site-news__title {
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}

.site-news__text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-top: 25px;
}

.news-card__img-title {
    width: 300px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
    padding-left: 26px;
    padding-bottom: 62px;
    margin: 0;
    margin-top: 17px;
}


.news-card__data {
    display: inline-block;
    margin-top: 28px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #565656;
    margin-left: 10px;
}

.calendar {
    padding-left: 13px;
}

.site-news__button {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    display: inline-block;
    background: #717CFF;
    border-radius: 11px;
    padding: 10px 35px 10px 34px;
    transition: color 0.3s ease;
    border: 1px solid transparent;
    width: 236px;
    margin: 0 auto;
    margin-top: 146px;
    display: flex;
    align-items: center;

}

.site-news__button:hover {
    color: #717CFF;
    background-color: #fff;
    border: 1px solid #717cff;
}

.site-news__button span {  
    text-transform: capitalize;
}

/* site news tugadi */


.upcoming-univers {
    margin-top: 98px;
    margin-bottom: 110px;
}



.upcoming-uni__title {
    width: 455px;
    height: 54px;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
    margin: 0 auto;
}

.upcoming-uni__text {
    width: 949px;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin: 0 auto;
    margin-top: 25px;
}

.upcoming-uni__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.upcoming-uni__time {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #717CFF;
    }

.calendar-upcoming {
    display: inline-block;
    width: 76px;
    height: 76px;
    border-radius: 11px;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #717CFF;
    padding: 13px;
    background-color: #ddd;
    margin-right: 19px;
}

.mon {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #717CFF;
}

.data-title {
    display: flex;
    justify-content: start;
    align-items: center;
}

.left-side__card {
    padding: 30px;
    width: 540px;
    height: 308px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}

/* .upcoming-uni__time {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #717CFF;
} */

.upcoming-uni__card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
    width: 351px;
    height: 76px;
}

.upcoming-uni__card-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
    width: 481px;
    height: 90px;
    margin-top: 28px;
}

.link-time__left-side a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
    transition: opacity 0.3s ease;
}

.link-time__left-side span {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.link-time__left-side span:hover {
    opacity: 0.7;
}
.right-side__card {
    width: 540px;
    height: 308px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 30px;
}

.upcoming-uni__card-title {
    text-transform: capitalize;
}

.link-time__left-side {
    margin-top: 27px;
}

.link-time__left-side span {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.link-time {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.learn-more__vector {
    margin-left: 15px;
}

.link-time__right__side {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    letter-spacing: 0.444444px;
    color: #373737;
}

/* .upcoming-uni__time {
    padding: 13px;
    background-color: #ddd;
} */

.btns-upcoming {
    margin-top: 83px;
    display: flex;
    justify-content: center;
}

.link-button__upcoming {
    display: inline-block;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(124, 124, 124, 0.318837);
    padding: 0;
    margin-left: 21px;
}

.first-btn {
    margin-left: 0;
}

.link-button__upcoming:active {
    border-radius: 50%;
    border: none;
    width: 14px;
    height: 14px;
    background: #717CFF;
}

.link-button__upcoming:focus {
    outline: none;
    border-radius: 50%;
    border: none;
    width: 10px;
    height: 10px;
    background: #717CFF;
}

.link-button__upcoming:hover {
    outline: none;
    border: none;
    border: 1px solid blue;
}
/* ------------------------ */

.covered-countries__wrapper {
    padding-top: 82px;
    padding-bottom: 138px;
}

.covered-countries {
    background: #FAFAFA;

}

.covered-title {
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
    width: 361px;
    height: 54px;
    margin: 0 auto;
}

.covered-text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    width: 949px;
    height: 80px;
    margin: 0 auto;
    margin-top: 25px;
}

.covered-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.covered-card {

}

.covered-card__img {
    margin-top: 77px;  
}

.covered-card__title {
    width: 201px;
    height: 29px;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #37474F;
    margin-top: 27px;
}

.covered-card__text {
    width: 348px;
    height: 59px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: rgba(55, 71, 79, 0.721569);
    margin-top: 11px;
}









.covered-card__button {
    display: inline-block;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(124, 124, 124, 0.318837);
    padding: 0;
    margin-left: 21px;
}

.covered-card__button:active {
    border-radius: 50%;
    border: none;
    width: 14px;
    height: 14px;
    background: #717CFF;
}

.covered-card__button:focus {
    outline: none;
    border-radius: 50%;
    border: none;
    width: 10px;
    height: 10px;
    background: #717CFF;
}

.covered-card__button:hover {
    outline: none;
    border: none;
    border: 1px solid blue;
}


.first-button__covered {
    margin-upcoming__btn: 0;
}