body {
    background-color: #fff;
    font-family: 'Roboto', Arial, sans-serif;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-navs ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-navs {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: rgba(55, 55, 55, 1);
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: goldenrod;
}

.header-navs a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #373737;
}

.apply-button {
    display: inline-block;
    border: 2px solid #717CFF;
    border-radius: 11px;
    padding: 13px 33px 0px 33px;
    transition: color 0.3s ease,
    border 0.3s ease;
}

.apply-button:hover {
    border: 2px solid #000;
    color: #717CFF;
}

/* boshlandi */
.hero-site {
    display: flex;
    justify-content: space-between;
}

.hero-site-title {
    width: 542px;
    height: 154px;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: #2F2F2F;
    text-transform: capitalize;
    display: inline-block;
}

.to {
    text-transform: lowercase;
}

.build {
    color: #717CFF;
}

.hero-site-text {
    width: 632px;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
    display: inline-block;
}

.hero-site__link-span {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    display: inline-block;
    background-color: #717CFF;
    border-radius: 11px;
    padding: 10px 35px 10px 34px;
    border: 1px solid transparent;
    transition: color 0.3s ease,
    background-color 0.3s ease;
}

.hero-site__link-span:hover {  
    color: #717CFF;
    background-color: #fff;
    border: 1px solid #717CFF;
}

.site-hero__link-vector {
    padding-left: 34px;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: start;
}
/* univer side */

.featured-universities {
    height: 423px;
    background-color: #FAFAFA;
}
.featured-unv__title {
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
    mix-blend-mode: normal;
    opacity: 0.73;
}

.featured-unv__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns {
    display: flex;
    justify-content: center;
}

.link-button {
    display: inline-block;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(124, 124, 124, 0.318837);
}

.link-button:active {
    border-radius: 50%;
    border: none;
    width: 14px;
    height: 14px;
    background: #717CFF;
}

.link-button:focus {
    outline: none;
    border-radius: 50%;
    border: none;
    width: 10px;
    height: 10px;
    background: #717CFF;
}
.link-button:hover {
    outline: none;
    border: none;
    border: 1px solid blue;
}

/* cards */
.our-services__title {
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
    text-transform: capitalize;
}

.our-services__text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    width: 946px;
    height: 80px;
}

.our-services__cards {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.our-services__card {
    padding: 29px 31px 34px 31px;
    width: 344px;
    height: 351px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;  
}

.our-services__card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
    width: 279px;
    height: 37px;
    text-transform: capitalize;
}

.our-services__card-text {
    width: 296px;
    height: 90px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
}

.card-link {
    align-items: flex-start;
    transition: opacity 0.3s ease;
}
.card-link:hover {
    opacity: 0.3;
}

.our-services__card-link {
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
}



/* our services tugadi */

.news-cards {
    display: flex;
    justify-content: space-between;
    background: #FAFAFA;
}

.news-card {
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
    width: 344px;
    height: 406px;
}

.site-news__title {
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}

.site-news__text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
}

.news-card__img-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
    padding-left: 26px;
    padding-bottom: 62px;
}

.news-card time {
    padding-left: 26px;
    padding-top: 28px;
    padding-bottom: 62px;
}

.site-news__button {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    display: inline-block;
    background: #717CFF;
    border-radius: 11px;
    padding: 10px 35px 10px 34px;
    transition: color 0.3s ease,
    background-color 0.3s ease;
    border: 1px solid transparent;
}

.site-news__button:hover {
    color: #717CFF;
    background-color: #fff;
    border: 1px solid #717cff;
}

.site-news__button span {  
    text-transform: capitalize;
}

/* site news tugadi */


.upcoming-uni__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upcoming-uni__title {
    width: 455px;
    height: 54px;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}

.upcoming-uni__text {
    width: 949px;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
}

.data-title {
    display: flex;
    justify-content: start;
    align-items: center;
}

.left-side__card {
    padding: 30px;
    width: 540px;
    height: 308px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}

.upcoming-uni__time {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #717CFF;
}

.upcoming-uni__card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
    width: 351px;
    height: 76px;
}

.upcoming-uni__card-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
    width: 481px;
    height: 90px;
}

.link-time__left-side a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
    transition: opacity 0.3s ease;
}

.link-time__left-side span {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.link-time__left-side span:hover {
    opacity: 0.7;
}
.right-side__card {
    width: 540px;
    height: 308px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 30px;
}

.upcoming-uni__card-title {
    text-transform: capitalize;
}

.link-time__right__side {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    letter-spacing: 0.444444px;
    color: #373737;
}

.upcoming-uni__time {
    padding: 13px;
    background-color: #ddd;
}

.btns-upcoming {
    display: flex;
    justify-content: center;
}

.link-button__upcoming {
    display: inline-block;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(124, 124, 124, 0.318837);
    padding: 0;
}

.link-button__upcoming:active {
    border-radius: 50%;
    border: none;
    width: 14px;
    height: 14px;
    background: #717CFF;
}

.link-button__upcoming:focus {
    outline: none;
    border-radius: 50%;
    border: none;
    width: 10px;
    height: 10px;
    background: #717CFF;
}
.link-button__upcoming:hover {
    outline: none;
    border: none;
    border: 1px solid blue;
}
